# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b581fd93a29ee9a961cd292e5a2204f8daa74cb806f05ac69a2f66b21bb1c02d27950430e5593812b08861fe243d4ef19e2ee613b713f6ae73e9881645fef92c
  email_user_name: "PUT USER NAME HERE"
  email_password:  "PUT PASSWORD HERE"
  stripe_secret_key: "PUT STRIPE SECRET KEY HERE"
  stripe_publishable_key: "PUT STRIPE PUBLISHABLE KEY HERE"

test:
  secret_key_base: e8f2477cc8b1af56e6e9e319f9b6cca58835b980e701bfce14bf44b86e569afb20daa08128cbee9ac3f0a80afceb7c1ce6a696a3735468675a89f34a3def317b
  email_user_name: "PUT USER NAME HERE"
  email_password:  "PUT PASSWORD HERE"

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
